<% if flash[:notice] %>

<div class="mt-2 alert alert-info" role="alert">
    <%= flash[:notice] %>
</div>

<% end %>

<% if flash[:alert] %>

<div class="mt-2 alert alert-warning" role="alert">
    <%= flash[:alert] %>
</div>

<% end %>